@font-face {
  font-family: FontGC;
  src: url(./Assets/Fonts/PPEiko-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FontGC;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  /* background-color: orange; */
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0vw 5vw;
  /* opacity: 0; */
  /* background-color: black; */
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.section-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: orange; */
}

.mainHeading {
  font-size: 8vw;
  text-align: center;
  color: #333;
  font-weight: 400;
  /* opacity: 0; */
}

.section-1 img {
  position: absolute;
  width: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

@media (max-width: 799px) {
  nav ul {
    display: none;
  }
  .mainHeading {
    font-size: 15vw;
  }
  .section-1 img {
    width: 250%;
  }
}